h1 {
  color: white;
  font-size: 60pt;
  max-width: 500px;
}

p {
  color: white;
  max-width: 250px;
}

button {
  background-color: white; 
  font-weight: bolder;
  border: none;
  color: #212736;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.h1-container{
    min-height: 25vh;
    background-image: url("/images/react-logo.svg");
    background-repeat:no-repeat;
    background-position: 80% 50%;
    background-size: contain;
}

.p-container{
    min-height: 25vh;
    background-image: url("/images/react-logo.svg");
    background-repeat:no-repeat;
    background-position:100% 50%;
    background-size: contain;
}

.button-Container{
    min-height: 25vh;
    background-image: url("/images/react-logo.svg");
    background-repeat:no-repeat;
    background-position:80% 50%;
    background-size: contain;

}
