body {
  background-color: #1f2535;
}

.Content-Top {
  margin-left: 50px;
  margin-right: 50px;
}

.button-Awesome {
  padding-top: 50px;
}

.Content-Bottom {
  background-color: white;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}
